<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/project_page.css">
    <!-- jQuery -->
    <script defer
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <!-- Main JS -->
    <script defer src="/scripts/timer.js"></script>
    <title>Project Page</title>
</head>
<body>
    <section id="project-head">
            <h2>Project Name</h2>
            <p>for Company Name</p>
            <div class="text-container" id="project-description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi amet atque molestiae fugiat alias sint vero, nihil id vitae mollitia placeat assumenda consectetur aspernatur voluptatum iusto dolore! Aspernatur tempora dolore pariatur ea voluptatem iure in nemo quam debitis impedit, doloribus porro saepe atque totam enim maxime error? Quas amet quibusdam sequi soluta nesciunt et reprehenderit sapiente corrupti non fugit eveniet, quia eos nemo cum voluptatum ab culpa autem blanditiis repudiandae officia dolore at! Eius culpa doloribus iure sapiente consequuntur veritatis libero quisquam repellat hic. Consectetur sapiente inventore laudantium quidem labore, saepe odit commodi quis praesentium nam omnis accusamus sit officiis earum. </p>
                </div>
    </section>
    <section class="">
        
        <div class="center-container" id="timer-section">
                <div class="clock">
                    <div class="digit hours">
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                    </div>
                    
                    <div class="digit hours">
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                    </div>
                    
                    <div class="separator"></div>
                    
                    <div class="digit minutes">
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                    </div>
                    
                    <div class="digit minutes">
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                        <div class="segment"></div>
                    </div>
                    
                </div>
           
        </div>
        <div class="center-container">
            <input id="topic" class="" type="text" placeholder="Project Topic"/>
        </div>
        <div class="center-container">
            <div class="fex-container-column">
                <button type="button" id="start-time" name="Start">Start</button>
                <button type="button" id="stop-time" name="Stop">Stop</button>
            </div>
        </div>
        
    </section>
    
    

</body>
</html>