<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script>
              <script defer src="/scripts/materialize.js"></script>
    <script defer src="/scripts/app.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="/scripts/materialize.js"></script>
    <link rel="stylesheet" href="/styles/materialize.css">

    <link rel="stylesheet" href="/styles/main.css">
    <title>Login</title>
</head>
<body>
    <div id="forms">
    <div id="togglebuttons"><ul class="tabs">
        <li class="tab s3"><a href="#signup">Sign Up</a></li>
        <li class ="tab s3"><a href="#login">Log In</a></li>
    </ul></div>
    <form id="login">
    <div class="row">
            <div class="input-field col s12">
                <input id="email" type="text" class="validate">
                <label for="email">Email</label>
            </div></div><div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div></div>
            <a id="loginbutton" class="waves-effect waves-light btn">Login</a>
    </form>
    <form id="signup">
            <div class="row">
                    <div class="input-field col s12">
                            <input id="name" type="text" class="validate">
                            <label for="name">Name</label>
                    </div></div>
            <div class="row">
            <div class="input-field col s12">
                <input id="createEmail" type="text" class="validate">
                <label for="createEmail">Email</label>
            </div></div>
            <div class="row">
            <div class="input-field col s12">
                <input id="createPassword" type="password" class="validate">
                <label for="createPassword">Password</label>
            </div></div>
            <div class="row">
            <div class="input-field col s12">
                    <input id="confirmPassword" type="password" class="validate">
                    <label for="confirmPassword">Confirm Password</label>
            </div></div>
            
            <a id="createbutton" class="waves-effect waves-light btn">Create</a>
        </form>
    </div>
</body>
</html>