<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- MATERIALIZE CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/styles/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/styles/new-project.css">
    <!-- JQUERY -->
    <script   defer
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"></script>
              
    <!-- MATERERIALIZE JS-->
    <script defer src="/scripts/materialize.js"></script>
    <!-- SCRIPTS -->
    <script defer src="/scripts/newProject.js"></script>
    <title>New Project</title>
</head>
<body>
  
   
    <div class="input-field">
  <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="projectName" type="text" class="validate">
              <label for="projectName">Project Name</label>
            </div>
            <div class="input-field col s6">
              <input id="companyName" type="text" class="validate">
              <label for="companyName">Company Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="description" type="text" class="validate">
              <label for="description">Description</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="startDate" type="date" class="validate">
              <label for="startDate">Start Date</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              This is an inline input field:
              <div class="input-field inline">
                <input id="email_inline" type="email" class="validate">
                <label for="email_inline">Email</label>
                <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
              </div>
            </div>
          </div>
        </form>
      </div>
     
    </div>
</body>
