<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script   defer
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    <script defer src="/scripts/newProject.js"></script>
    <title>New Project</title>
</head>
<body>
    <form id="new-project">
    <input type="text" id="projectName" placeholder="Project">
    <input type="text" id="companyName" placeholder="Company">
    <input type="text" id="description" placeholder="Description">
    <input type="date" id="startDate" placeholder="Start Date">
    <input type="text" id="payRate" placeholder="Hourly Pay">
    <!-- Will update currency to dropdown later -->
    <input type="text" id="currency" placeholder="currency">
    <input type="text" id="extraHoursTime" placeholder="Overtime">
    <input type="text" id="extraHoursPayRate" placeholder="Overtime Pay-rate">
    <input type="text" id="timeLimitNumber" placeholder="Time Limit">
    <!-- Will update to dropdown later-->
    <input type="text" id="timeLimitUnit" placeholder="Time ">
    <button type="submit">Submit</button>







    </form>
</body>
